<footer class="footer">
    <div class="container">
      <div class="row">
        <p class="footer-des"><span>مشروعي هي منصة تجمع كل جديد المشاريع الريادية و هي تحت الاطلاق التجريبي</span>.</p>
			<div class="copy-right">
				<p>جميع الحقوق محفوظة لـ مشروعي 2017 - طوّر بواسطة <a href="https://twitter.com/HekmatAr" rel="nofollow" target="_blank">حكمت</a></p>
			</div>
  		</div><!-- /.row -->
    </div>
  </footer>